.loader-container{

    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;

    .loader-icon{
        width: 6rem;
        height: 6rem;
        background-color: white;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: loading 2s linear infinite;
        border: 3px solid lightgreen;

        h1{
           font-size: 1.5rem;
           color: lightgreen;
           animation: loading 2s linear infinite;
        }
    }

}

@keyframes loading {
	0% { transform: rotateX(0deg) rotateY(0deg); }

	50% { transform: rotateX(0deg) rotateY(180deg); }

	100% { transform: rotateX(180deg) rotateY(180deg); }
}

