.brand-showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h1{
        display: none;
    }
    
    @media only screen and (max-width: 688px){
        &>img{
            display: none;
        }
        h1{
            display: flex;
            font-size: 1.5rem;
            color: rgb(177, 155, 34);
        }
    }
    

    &__title{
        width: 100%;      
    }
    
    &__images{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
       
        img{
            cursor: pointer;
            margin-top: 1rem;
            @media (max-width: 908px) {
                height: 45%;
                width: 45%;
            }
        }
    }
}